<div class="container">
    <div class="row margin-left-50 margin-bottom-40">
        <div class="col">
            <h4 class="font-weight-300">Cadastrar tarefas</h4>
            <h4>Cadastre as suas tarefas do dia ou da semana</h4>
        </div>
    </div>

    <form [formGroup]="form">
        <div class="row padding-top-15 margin-left-50" >
            <div class="col-10">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="bi bi-circle-fill color-icon-calendar icons-tarefas"></i>
                        <i class="bi bi-circle-fill color-icon-calendar-add icons-tarefas"></i>
                        <i class="bi bi-circle-fill color-icon-home icons-tarefas"></i>
                    </span>
                    <input type="text" class="form-control" formControlName="descricao" placeholder="Qual a tarefa?" aria-label="tarefa" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-3">
                <label class="form-check-label text-white" for="exampleCheck1">Data da Tarefa</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="bi bi-circle-fill color-icon-calendar icons-tarefas"></i>
                        <i class="bi bi-circle-fill color-icon-calendar-add icons-tarefas"></i>
                        <i class="bi bi-circle-fill color-icon-home icons-tarefas"></i>
                    </span>
                    <input type="date" class="form-control" formControlName="dataCriacao" />
                </div>
            </div>
            <div class="col-3" *ngIf="router.routerState.snapshot.url !== '/nova'">
                <label class="form-check-label text-white" for="exampleCheck1">Data Conclusão</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="bi bi-circle-fill color-icon-calendar icons-tarefas"></i>
                        <i class="bi bi-circle-fill color-icon-calendar-add icons-tarefas"></i>
                        <i class="bi bi-circle-fill color-icon-home icons-tarefas"></i>
                    </span>
                    <input type="date" class="form-control" formControlName="dataConclusao"/>
                </div>
            </div>
            <div class="col-10">
                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" formControlName="concluido" >
                    <label class="form-check-label text-white" for="concluido">Concluído</label>
                  </div>
            </div>
            <div class="col-10">
                <button class="btn btn-submit" type="submit" id="button-submit" (click)="onSubmit()">Salvar</button>
                <button class="btn btn-cancel" type="button" id="button-cancel" (click)="onCancel()">Cancelar</button>
            </div>
        </div>
    </form>
</div>


